* {
    margin: 0;
    padding: 0;
}

body {
    font-family: verdana, sans-serif;
}

.home {
    color: #f9f7f7;
    height: 100%;
}

.home img {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.home h1 {
    padding-top: 20%;
    text-align: center;
    font-size: 120px;
}

.home p {
    text-align: center;
    font-size: 40px;
}