* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    color: #112d4e;
    size: 200%;
}

h1 {
    font-family: 'Sacramento', cursive;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 2;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 2;
}

p {
    padding-top: 10px;
}

hr {
    margin: 40px 0;
}

a {
    color: #112d4e;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #3f72af;
}

.home {
    color: #f9f7f7;
    height: 100vh;
}

.home img {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.home h1 {
    padding-top: 15%;
    text-align: center;
    font-size: 8rem;
}

.home h2 {
    text-align: center;
    font-weight: normal;
}

.information {
    background-color: #f9f7f7;
    text-align: center;
    padding-top: 40px;
}

.footer {
    background-color: #f9f7f7;
    text-align: center;
    padding-top: 80px;
}

.footer-link {
    margin-left: 30px;
}

.item {
    padding: 20px 160px;
    height: 250px;
    display: inline-block;
}

.item:hover {
    border: solid 1px #3f72af;
    padding: 19px 159px;
}

.item img {
    padding-top: 40px;
    width: 128px;
}