* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    color: #112d4e;
    size: 200%;
    line-height: 2;
}

h1 {
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: #3f72af;
}

.home h2 {
    color: #f9f7f7;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #3f72af;
}

p {
    padding-top: 10px;
}

hr {
    margin: 50px auto;
    border: none;
    border-top: 4px dotted #dbe2ef;
    width: 200px;
}

a {
    color: #112d4e;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    color: #3f72af;
}

.home {
    color: #f9f7f7;
    height: 100vh;
}

.home img {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.home h1 {
    padding-top: 15%;
    text-align: center;
    font-size: 8rem;
}

.home h2 {
    text-align: center;
    font-weight: normal;
}

.information {
    background-color: #f9f7f7;
    text-align: center;
    padding: 5%;
}

.profile p {
    text-align: justify;
    width: 70%;
    margin: 0 auto;
}

.footer {
    background-color: #112d4e;
    text-align: center;
    color: #f9f7f7;
    padding: 40px;
}

.footer-link {
    margin-left: 30px;
    color: #f9f7f7;
}

.item {
    padding: 20px 160px;
    height: 250px;
    display: inline-block;
    transition: 0.6s;
}

.item:hover {
    opacity: 0.8;
    background-color: #dbe2ef;
}

.item img {
    padding-top: 40px;
    width: 128px;
}

.btn {
    background-color: #112d4e;
    border-radius: 8px;
    color: #f9f7f7;
    font-weight: normal;
    padding: 10px;
    display: block;
    margin: 40px auto 0;
    width: 140px;
}

.btn:hover {
    background-color: #3f72af;
    color: #f9f7f7;
}

@media (max-width: 575px) {
    .home h1 {
        font-size: 6rem;
    }

    h2{
        font-size: 2rem;
    }

    .profile p {
        width: 90%;
    }

    .item {
        padding: 5px 80px;
        height: 150px;
    }

    .item img {
        padding-top: 10px;
        width: 80px;
    }
}